.ticket-page {
    height: 100vh;
    width: 100vw;
    border: 1px solid red;
}

.ticket-header {
    border: 1px solid red;
    margin-left: 160px;
    background-color: red;
    margin-top: 160px;

    width: 50%;
    height: 50%;
}
  
  .ticket-page .top{
    display: flex;
    justify-content: space-between;
  }
  
  .ticket-page .top .logo{
    margin: 2.7vw;
    width: 229px;
    height: 50px;
  }
  
  
  .ticket-page .top .msg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 160px;
    margin-bottom: 90px;
  }
  
  .ticket-page .top .msg h1 {
    font-weight: bold;
    font-size: 64px;
    color: #FFF;
  }
  
  
  .ticket-page .top .image-space {
    margin-top: 60px;
    margin-right: 2vw;
    max-width: 246px;
    min-width: 172px;
    max-height: 241px;
    min-height: 169px;
  }
  
  .ticket-page .top .image-space img {
    width: 100%;
  }
  
  .ticket-page .text {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color:#FFF;
    padding: 0 11vw;
  }
  
  .ticket-page .text p{
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 80px;
  }
  
  .ticket-page .middle {
    display: flex;
    justify-content: space-between;
  }
  
  
  .ticket-page .middle .left {
    max-width: 290px;
    min-width: 174px;
    max-height: 286px;
    min-height: 172px;
  }
  
  .ticket-page .middle .left img{
    width: 100%;
  }
  
  .ticket-page .middle .right{ 
   display: flex;
   justify-content: flex-start;
  }
  
  .ticket-page .right .r1{
    padding-top: 100px;
    max-width: 168px;
    min-width: 101px;
    max-height: 168px;
    min-height: 101px;
    padding-right:20px;
  }
  
  .ticket-page .right .r1 img{
    width: 100%
  }
  
  .ticket-page .right .r2{
    padding-bottom: 160px;
    max-width: 176px;
    min-width: 123px;
    max-height: 176px;
    min-height: 123px;
  }
  
  .ticket-page .right .r2 img{
    width: 100%;
    height: auto;
  }
  
  .ticket-page .bottom{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    margin-bottom: 40px;
  }
  
  .ticket-page .bottom p{
    font-size: 26px;
    margin: 2vw;
  }
  
  .ticket-page .bottom .link a:visited{
    color: #FFF;
  }