.ticket-page {
    height: 100vh;
    width: 100vw;
    background-color: #36357E;
}

.ticket-page-header{
  margin-left: 160px;
  margin-right: 160px;
  padding: 0px;

  text-align: center;

  h1 {
    display: inline;
    font-size: 64px;
    line-height: 78px;
    color: #FFF;
    margin-right: 25px;
    font-weight: bold;
  }

  p {
    font-size: 36px;
    line-height: 44px;
    color: #FFF;
    margin-bottom: 20px;
  }

  img {
    transform: rotate(220deg);
  }
}

.ticket-page-content{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
  "hands hands ticket ticket . wash"
  "hands hands ticket ticket protect protect"
  ;
  height: 30%;
}

.ticket-page-footer{
  margin-top: 45px;
  margin-left: 130px;
  margin-right: 130px;

  text-align: center;
}

.hard-text-info {
  font-size: 36px;
  color: #FFF;
  line-height: 50px;

  span {
    color: #FF601C;
    font-weight: bold;
  }
}

.link-to-home {
  font-size: 30px;
  line-height: 37px;
  color: #FFF;
  text-decoration: none;

  &:hover{
    color: #FFF;
  }
}

.img-wash{
  grid-area: wash;

}
.img-protect{
  grid-area: protect;
  margin-left: 150px;

}
.img-hands{
  grid-area: hands;
  margin-left: 50px;
}

.img-ticket{
  grid-area: ticket;
}