.email {
  width: 505px;
  height: 240px; 
  display: flex;
  align-self: center;
  flex-direction: column;
}

.email .email-txt {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.email .email-txt .message1{
  font-size: 24px;
  line-height: 30px;
  padding-bottom: 30px; 
}

.email .email-txt .message2{
  font-size: 20px;
  line-height: 28px;
  padding-bottom: 40px; 
}

.email .email-input label {
  color: #C4C4C4;
  font-size: 18px;
  line-height: 22px;
}

.email .email-input input {
  border-bottom: 2px solid #000;
  width: 500px;
  border-top: none;
  border-right: none;
  border-left: none;
}

