.messageCP h1 {
    font-size: 2.4rem;
    font-weight: bold;
}

.messageCP p {
    font-size: 1.5rem;    
    margin: 32px 0;
    width: 80%;
}

.formCP {
    display: flex;
}

.formCP input {
    width: 292px;
    height: 62px;
    border-radius: 30px;
    padding: 10px;
    margin-right: 32px;
    border: 1px solid #C4C4C4;
    font-size: 1rem;
}

.formCP button {
    width: 232px;
    height: 63px;
    border-radius: 30px;
    padding: 10px;
    font-size: 1.25rem;
    font-weight: bold;
    color: #FFFFFF;  
    background: #FF601C;
    border: 1px solid #FF601C;
}

.formCP button:focus{
  outline: none;
}
/* celular :a baixo de 768 
tela pequena : entre 768 - 1024
tela media : entre 1366 - 768
tela grande : entre 1366 - 1920 */

@media (max-width: 1600px) {
    .messageCP h1 {
        font-size: 2rem;
    }
    
    .messageCP p {
        font-size: 1.2rem;
    }
    
    .formCP input {
        font-size: .9rem;
    }
    
    .formCP button {
        font-size: 1.2rem;
    }
}
@media (max-width: 1366px) {
    .messageCP h1 {
        font-size: 1.8rem;
    }
    .formCP input {
        font-size: .8rem;
    }
}
@media (max-width: 1024px) {
    .messageCP h1 {
        font-size: 1.5rem;
    }
    
    .messageCP p {
        font-size: 1rem;
    }
    
    .formCP input {
        font-size: .6rem;
    }
    
    .formCP button  {
        font-size: 1rem;
    }
}
@media (max-width: 768px) {
    .formCP {
        width: 100%;
        flex-direction: column;
    }
    .formCP input {
        font-size: .8rem;
        margin-bottom: 10px;
    }
}