nav {
  width: 100px;
  height: 80vh;
  background-color: #FF601C;
  display: flex;
  justify-content: center;
  border-radius: 20px 0 0 20px;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;

}

li {
  list-style: none;
  margin: 40px 0;
}

img {
  width: 2.5rem;
  height: 2.5rem;
}