.home-page {
   width: 1234px;
   height: 745px;
   background-color: white;
   margin: 60px auto;
   display: flex;
   border-radius: 20px;
 }

 .home-page div .central {
   display: flex;
   flex-direction: column;
   /* justify-content: space-between; */
   align-items: center;
   width: 1000px;
   padding: 30px;
 }
 
 .home-page p {
   font-size: 25px;
   line-height: 35px;
}

 .home-page span {
   font-size: 20px;
  }

