.nav-menu {
  width: 120px;
  min-height: 700px;
  height: 100%;
  background-color: #FF601C;
  border-radius: 20px 0px 0px 20px;
  padding-top: 96px;
  padding-left: 37px;
}

.main-menu {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.active {
  path[stroke] {
    stroke: white;
  }

  path[fill] {
    fill: white;
  }
}