.main-modal-body {
    max-width: 575px;
    padding: 35px 35px 35px 35px;
    border-radius: 30px;
    background-color: #FFF;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-modal-body button {
        border-radius: 50px;
        font-weight: bold;
        width: 232px;
        margin-top: 40px;
}
.main-modal-body .go-back  {
            color: #000;
            border: 1px solid #000;
            margin-right: 40px;
        }

.main-modal-body .go-confirm {
            color: #FFF;
        }
 

.modal-container {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.575);

    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-modal-content {
    border: 1px solid blue;
    width: 100%;

}

.button-content{
    border: 1px solid blue;
    display: flex;
    flex-direction: row;

}