.modal-background {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 90;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-area {
    background-color: #FFF;
    padding:25px;
    width: 600px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px;
}

.modal-area .modal-content {
    width: 550px;
    height: auto;
}

.modal-content p {
  font-size: 1.5rem;
}

.modal-content span {
  color: #808080;
}

.modal-area .button-content {
  display: flex;
  margin: 0 40px 0 30px;
}

.modal-area .button-content button {
  width: 90%;
  height: 53px;
  border-radius: 50px;
  font-size: 20px;
  font-weight: bold;
  margin: 30px;
  background: none;
  cursor: pointer;
}

.modal-area .button-content .go-back{
  color: #000;
  background-color: #FFF;
  border: 1px solid #000;
}

.modal-area .button-content .go-confirm{
  color: #FFF;
  background-color: #FF601C;
  border: 1px solid #FF601C;
}

.modal-area .button-content button:focus{
  outline: none;
}

/***************************MEDIA QUERIES***************************/

@media (max-width: 660px) {
  .modal-area {
    padding:25px;
    width: 80vw;
  }
  .modal-content{
    width: 75vw !important;
  }
  .modal-area .button-content {
     margin: 1rem;
     align-items: center;
  }
  .modal-area .button-content button {
    margin: 10px;
    width: 80%;
  }

}
 
