.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.container{
    width: 354px;
    height: 434px;
}

.escritorio-nome{
    width: 100%;
    height: 10%;

    font-style: normal;
    font-weight: 700;
    font-size: 26px;
}

.card{
    width: 100%;
    height: 90%;

    background: #F9F8F8;
    border-radius: 30px;
}

.info{
    width: 100%;
    height: 80%;
    margin: 1rem 1rem 0 1rem;

    background: #E2E2E2;
    border-radius: 50px;
}

.quantidade{
    width: 100%;
    height: 33%;
    display: flex;
}

.contador, .titulo{
    width: 100%;
    height: 50%;
}

.contador{
    color: #FFFFFF;
    background: #7D7D7D;
    border-radius: 50px;
    
    margin: 0 30px 10px 30px;
    height: 40px;
}

.titulo{
    width: 100%;
    height: 50%;
}

.estacao-esquerdo{
    width: 50%;
}

.sala-direito{
    width: 50%;
    border-left: 1.5px dotted;
}

.selecionar-data{
    height: 33%;
    background: #C4C4C4;
}

.seletor{
    width: 100%;
}

.disponivel{
    height: 34%;
    display: flex;
}

.btn-agendamento{
    width: 100%;
    height: 15%;
}
.btn{
    background: green;
    width:90%;
    height: 40px;

    color: #FFFFFF;
    background: #7D7D7D;
    border-radius: 50px;
}