$form-select-border-radius: 40px;

$form-select-bg: #E2E2E2;
$form-select-color: #000;

$theme-colors: (
    "primary": #FF601C,
    "secondary": #36357E
    );

@import '~bootstrap/scss/bootstrap.scss';