.body-container {
    width: 85vw;
    padding: 8px 8px 8px 8px;
    background-color: #FF601C;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
}

.aside-box {

}

.content-box{
    width: 100%;
    background-color: #F9F8F8;
    border-radius: 0px 30px 30px 0px;
    padding-top: 90px;
}