.container {
  width: 100vw;
  height: 100vh;
  padding: 12vh 12vw 0 12vw;
}

.page {
  display: flex;
  background: #FF601C;
  border-radius: 20px;
}

.cancelarTicket {
  background: #F9F8F8;
  width: 100vw;
  display: flex;
  flex-direction: column;


  border-radius: 0 20px 20px 0;
  margin: 10px 10px 10px 0;
  padding: 5% 8%;
}

.txt h1 {
  font-size: 1.5rem;
  text-transform: capitalize;
  font-weight: bold;

}

.txt p {
  font-size: .8rem;    
  
  margin: 32px 0;
  width: 80%;
}

.form {
  width: 60%;
  display: flex;
  justify-content: space-around;
}

.form input, button {
  width: 45%;
}

.form input {
  height: 59px;
  padding-left: 1rem;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  border-radius: 30px;
}

form button {
  height: 60px;
  
  font-size: 20px;
  font-weight: bold;
  text-transform: capitalize;
  color: #FFFFFF;
  
  background: #FF601C;
  border-radius: 50px;
}