@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #C4C4C4;
}

ul {
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0;
}

.container-box {
    display: flex;
    flex-direction: row;
    height: 780px;
}
