@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to top, #36357E 0, #36357E 60%, #FFF 40%);
    background-size: auto;
    background-repeat: no-repeat;
}

ul {
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0;
}

.logo_image {
    position: absolute;
    z-index: 10;
    top: 40px;
    left: 40px;
}
