.result-container{
    width: 100%;
    background-color: white;
    padding: 50px 0 0 0;
  
    border-radius: 8px;
}

.result-container table{
    width: 100%;
    text-align: justify;
}

.cabecalho {
    height: 58px;
}

.corpo tr{
    height: 30px;
    font-weight: 400;
}
